{% include 'header.html' %}
{% load static %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Our Bookstore
              </h2>
            </div>
            <p>
              Bstor is dedicated to providing high-quality educational materials to students and educators alike. We believe that education is the key to unlocking opportunities and improving lives, and we are passionate about making educational resources accessible to everyone.

Our team works tirelessly to curate and review the materials that are available on our platform, ensuring that they are accurate, up-to-date, and relevant. We are committed to providing the best possible experience for our users, and we welcome your feedback and suggestions.

Thank you for visiting our website, and we hope that you find the resources that you need to achieve your educational goals.


            </p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'add_material' %}">
              Contribute
            </a>
            {% else %}
            <a href="{% url 'login' %}">
              Contribute
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->



  {% include 'footer.html' %}