{% include 'header.html' %}
<div class="row align-items-center m-3">
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
  <div class="card col-lg-2 col-md-3 col-sm-4 ms-2 my-2 " style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Book title</h5>
      <a href="#" class="btn btn-primary">View</a>
    </div>
  </div>
</div>
{% include 'footer.html' %}