{% include 'header.html' %}
{% load static %}
<h3>Available Materials for {{course.name}}</h3>
<div class="row align-items-center m-3">
{% if materials %}
{% for material in materials %}
  {% if material.reviewed %}
  <div class="card col-lg-3 col-md-4 col-sm-6 ms-2 my-2 " style="width: 100%;">
    <img src="{% static 'images/cat4.png' %}" class="card-img-top" alt="">
    {% if request.user.is_staff %}
    <a href="/materials/{{material.id}}/delete/" class="btn btn-danger">Delete</a>
    {% endif %}

    <div class="card-body">
      <h5 class="card-title">{{ material.name }}</h5>
      <p>{{ material.description }}</p>
      <p>Topic/Tag: #{{material.topic}}</p>
      <a href="{% url 'download_file' pk=material.pk %}" class="btn btn-primary">Download</a>
    </div>
  </div>
  {% endif %}
{% endfor %}
{% else %}
<p>No material available for this course.</p>
{% endif %}
</div>
{% include 'footer.html' %}

