{% include 'header.html' %}
{% load static %}
  <!-- catagory section -->
  <section class="catagory_section layout_padding">
    <div class="catagory_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Available Courses
          </h2>
        </div>

        <div class="row">
          {% if courses %}
          {% for course in courses %}
          <div class="col-sm-6 col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/cat1.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  <a href="{% url 'course_detail' course_id=course.id %}">{{ course.name.title }}</a>
                </h5>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- end catagory section -->

{% include 'footer.html' %}
